PORT=3000

DB_HOST=mongodb+srv://admin:55k5hiW7pCKHbQX9s@cluster0.mvjefhk.mongodb.net/contacts?retryWrites=true&w=majority

PASSWORD=rCspOALgbLFdzIsf
USER=admin
CLOUD_NAME=dtk7nhyzp
CLOUDINARY_API_KEY=269427356719123
CLOUDINARY_API_SECRET=TPZT2NuqkvYtD_fH2OiCVhexsOU
SECRET_KEY=parol_parol_secret